---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Kei"
	pubDate={new Date('August 08 2021')}
	heroImage="/kei.jpg"
>
	<p>
		Hi, I'm Kei, an (in order) project, mechanical, robotics, structural, design/manufacturing, software engineer passionate about solving difficult problems. This blog shares my projects, insights, and explorations in engineering and technology.
	</p>
</Layout>
