---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Kei"
	pubDate={new Date('August 08 2021')}
	heroImage="/kei.jpg"
>
	<p>
		Hi, I'm Kei, a serial engineer who's worn many hats - from project and mechanical to robotics, structural, design/manufacturing, and software. I'm obsessed with tackling complex problems, and this blog is where I share my engineering adventures, random discoveries, and tech experiments.
	</p>
	<p>
		I mainly built this blog as a way to play around with the <a href="https://docs.astro.build/en/concepts/islands/">Islands Architecture</a> of Astro, with the idea of having an interactive online node graph to navigate blog posts. It was a fun challenge and you can see how I built it <a href="/blog/graph">here</a>.
	</p>
	<p>
		My girlfriend tells me I need to learn what work-life balance means, but I genuinely love what I do - solving problems, learning, and building things. In my limited free time you can find me reading, camping, trail-running, kiteboarding... or probably starting another project.
	</p>
</Layout>
