---
import GraphLayout from '../layouts/GraphLayout.astro';
import PostLayout from '../layouts/PostLayout.astro';
---

<GraphLayout>
<PostLayout
	title="About Me"
	description="About Kei"
	pubDate={new Date('August 08 2021')}
	heroImage="/kei.jpg"
>
	<p>
		Hi, I'm Kei. I've been a robotics/project/mechanical/design/software engineer. I'm obsessed with tackling complex problems, and this blog is where I share my engineering adventures and tech experiments.
	</p>
	<p>
		I mainly built this blog as a way to play around with the <a href="https://docs.astro.build/en/concepts/islands/">Islands Architecture</a> of Astro, with the idea of having an interactive online node graph to navigate blog posts. It was a fun challenge and you can see how I built it <a href="/proj/graph">here</a>. This is an interesting tech stack since it allows a high level of interactivity while still being a static site, essentially using queryable files to act as a web server. This is simpler, and a lot cheaper, to maintain. Most of my web development experience has been in building full stack enterprise applications, so this is a fun way to explore the other end of the spectrum.
	</p>
</Layout>
</GraphLayout>

