---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Kei"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		My name is Kei. I'm a (in order) project, mechanical, robotics, structural, design, software engineer. 
	</p>
</Layout>
