---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Kei"
	pubDate={new Date('August 08 2021')}
	heroImage="/kei.jpg"
>
	<p>
		Hi, I'm Kei. I'm an interdisciplinary engineer with experience in mechanical, robotics, structural, software, design/manufacturing, and project engineering. I'm obsessed with tackling complex problems, and this blog is where I share my engineering adventures and tech experiments.
	</p>
	<p>
		I mainly built this blog as a way to play around with the <a href="https://docs.astro.build/en/concepts/islands/">Islands Architecture</a> of Astro, with the idea of having an interactive online node graph to navigate blog posts. It was a fun challenge and you can see how I built it <a href="/blog/graph">here</a>.
	</p>
	<p>
		Solving problems is my default mode. While I genuinely love my work, I find that stepping away from the keyboard is crucial for finding the best solutions. For me, that often means heading outdoors to camp, trail-run, or kiteboard. These activities provide a different set of challenges and perspectives, and I often return to my work with renewed focus and fresh ideas for the next project.
	</p>
</Layout>
