---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Digraph from '../components/Digraph.vue';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<Digraph client:load />
			<h3>Insights on Electro-Mechanical Engineering and Software Innovation</h3>
			<p>
				<!-- should say right on desktops and top on mobiles -->
				Click on a post using the graph on the right, or see <a href="/blog/graph">how I built it</a>.
			</p>
			<p>If you're not sure which to read, try:</p>
			<ul>
				<li><a href="/blog/subway">The Productivity Trap</a> - Why productivity systems should be like Subway.</li>
			</ul>
			<p>Or, check out some of my favorite <a href="/blog/interesting-articles">articles</a> and <a href="/blog/interesting-talks">talks</a> that I find inspiring.</p>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			
		</main>
		<Footer />
	</body>
</html>
