---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Digraph from '../components/Digraph.vue';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<Digraph client:load />
			<h3>Insights on Electro-Mechanical Engineering and Software Innovation</h3>
			<p>
				Click on a post using the graph on the right, or see <a href="/blog/graph">how I built it</a>.
			</p>
			<p>If you're not sure which to read, try:</p>
			<ul>
				<li><a href="/blog/paut-robot">PAUT Inspection Robot</a> - A robotic system for non-destructive testing in industrial environments.</li>
				<li><a href="/blog/interesting-articles">Interesting Articles</a> - Other articles worth reading.</li>
			</ul>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			
		</main>
		<Footer />
	</body>
</html>
