---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Digraph from '../components/Digraph.vue';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<Digraph client:load />
			<h3>👋 Welcome to my blog</h3>
			<p>
				Click on posts using the graph on the right. Drag them around if you're bored.
			</p>
			<p>If you're not sure which to read, try:</p>
			<ul>
				<li>First blog post</li>
				<li>Second blog post</li>
				<li>Third blog post</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
