---
import GraphLayout from "../layouts/GraphLayout.astro";
---

<GraphLayout>
	<h3>Insights on Electro-Mechanical Engineering and Software Innovation</h3>
	<p>
		Welcome to my blog, check out the <a href="/about">about</a>
		page if you want to learn about me and why I built this blog, otherwise read
		on.
	</p>
	<p>
		<!-- update text based on screen size -->
		<span class="desktop-text"
			>To view a blog post, click on a post using the graph on the right,
			or see</span
		>
		<span class="mobile-text"
			>To view a blog post, click on a post using the graph above, or see</span
		>
		<a href="/blog/graph">how I built it</a>.
	</p>
	<p>If you're not sure which to read, try:</p>
	<ul>
		<li>
			<a href="/blog/quality-as-code">Quality as Code</a> - Why you should
			manage your procedures like software.
		</li>
		<li>
			<a href="/proj/ut-mech">Mechanical UT Scanner</a> - Building a mechanically-actuated
			wall-thickness scanning inline robotic tool, and why it's not a good
			idea.
		</li>
	</ul>
	<p>
		Or, check out some of my favorite <a href="/blog/interesting-articles"
			>articles</a
		> and <a href="/blog/interesting-talks">talks</a> that I find inspiring.
	</p>
</GraphLayout>

<style>
	h3:first-child {
		margin-top: 0;
	}

	.desktop-text {
		display: inline;
	}

	.mobile-text {
		display: none;
	}

	@media (max-width: 920px) {
		.desktop-text {
			display: none;
		}

		.mobile-text {
			display: inline;
		}
	}
</style>
