---
const today = new Date();
---

<footer class="footer">
	&copy; {today.getFullYear()} Kei. Built with <a href="https://astro.build" target="_blank">Astro</a>, <a href="https://vuejs.org" target="_blank">Vue.js</a> and <a href="https://threejs.org/" target="_blank">Three.js</a>.
</footer>

<style>
.footer {
  text-align: center;
}
</style>